:host {
  display: block;
}

.tasks-container {
  padding: 16px;
  max-width: 400px;
}

.tasks-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tasks-action {
  display: flex;
  justify-content: space-between;

  &__input {
    width: 100%;
    padding: 8px;
    margin-right: 16px;
  }

  &__button {
    min-width: 80px;
  }
}

.empty {
  margin-bottom: 16px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.spinner {
  width: 40px;
  height: 40px;
  font-size: 40px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}