:host {
  display: block;
}

.tasks-container {
  padding: 16px;
}

.tasks-list {
  max-width: 400px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tasks-action {
  max-width: 400px;
  display: flex;
  justify-content: space-between;

  &__input {
    width: 100%;
    padding: 8px;
  }
}

button {
  margin-left: 16px;
  border: none;
}

.button-add {
  background-color: #5ce6b1;
  min-width: 80px;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
}

.empty {
  margin-bottom: 16px;
}
