:host {
  display: block;
}

.tasks-container {
  padding: 16px;
}

.tasks-list-container {
  display: flex;  
}

.tasks-description {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1;
  margin-left: 16px;
  padding: 4px;
  font-size: 0.9em;
  border: 1px solid #858585;
  border-radius: 4px;
}

.tasks-list {
  width: 100%;
  max-width: 400px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.task {
  background-color: rgb(240, 240, 240);
  border-radius: 4px;

  &.selected {
    background-color: #c5ecaf;
  }
}

.task:not(:last-child) {
  margin-bottom: 8px;
}

.tasks-action {
  display: grid;
  grid-template-columns: 1fr 80px;
  max-width: 400px;
  margin-top: 16px;

  &__input,
  &__text-field {
    padding: 8px;
    margin-right: 16px;
  }

  &__text-field {
    margin-top: 16px;
    font-family: inherit;
    resize: vertical;
  }
}

.disabled {
  opacity: 0.5;
}

.empty {
  margin-bottom: 16px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.spinner {
  width: 40px;
  height: 40px;
  font-size: 40px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}