:host {
  display: block;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__text-button {
    width: 100%;
    text-align: start;
    padding: 8px;
    border: 0;
    background-color: inherit;
    cursor: pointer;
  }

  &__button {
    min-width: 60px;
  }
}
