:host {
  display: block;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  
  &.selected {
    background-color: #c5ecaf;
  }

  &__text-button {
    width: 100%;
    text-align: start;
    padding: 8px;
    border: 0;
    background-color: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  &__delete-button {
    min-width: 60px;
  }
}
